<div class="container" style="padding-top: 60px;">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @cliente.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @cliente.segundo_apellido %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @cliente.razon_social %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cliente.tipo %>
</p>

<p>
  <strong>Cif nif:</strong>
  <%= @cliente.cif_nif %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @cliente.cp %>
</p>

<p>
  <strong>Id poblacion:</strong>
  <%= @cliente.id_poblacion %>
</p>

<p>
  <strong>Id provincia:</strong>
  <%= @cliente.id_provincia %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @cliente.movil %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
</div>