<%= form_for(@detalle_factura) do |f| %>
  <% if @detalle_factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_factura.errors.count, "error") %> prohibited this detalle_factura from being saved:</h2>

      <ul>
      <% @detalle_factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :factura %><br>
    <%= f.number_field :factura %>
  </div>
  <div class="field">
    <%= f.label :producto %><br>
    <%= f.number_field :producto %>
  </div>
  <div class="field">
    <%= f.label :unidades %><br>
    <%= f.text_field :unidades %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br>
    <%= f.text_field :subtotal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
