<p id="notice"><%= notice %></p>

<h1>Listing Detalle Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Factura</th>
      <th>Producto</th>
      <th>Unidades</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_facturas.each do |detalle_factura| %>
      <tr>
        <td><%= detalle_factura.factura %></td>
        <td><%= detalle_factura.producto %></td>
        <td><%= detalle_factura.unidades %></td>
        <td><%= detalle_factura.subtotal %></td>
        <td><%= link_to 'Show', detalle_factura %></td>
        <td><%= link_to 'Edit', edit_detalle_factura_path(detalle_factura) %></td>
        <td><%= link_to 'Destroy', detalle_factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle factura', new_detalle_factura_path %>
