<p id="notice"><%= notice %></p>

<p>
  <strong>Factura:</strong>
  <%= @detalle_factura.factura %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @detalle_factura.producto %>
</p>

<p>
  <strong>Unidades:</strong>
  <%= @detalle_factura.unidades %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @detalle_factura.subtotal %>
</p>

<%= link_to 'Edit', edit_detalle_factura_path(@detalle_factura) %> |
<%= link_to 'Back', detalle_facturas_path %>
