<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :contacto %><br>
    <%= f.text_field :contacto %>
  </div>
  <div class="field">
    <%= f.label :cargo_contacto %><br>
    <%= f.text_field :cargo_contacto %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :id_ciudad %><br>
    <%= f.number_field :id_ciudad %>
  </div>
  <div class="field">
    <%= f.label :id_provincia %><br>
    <%= f.number_field :id_provincia %>
  </div>
  <div class="field">
    <%= f.label :id_pais %><br>
    <%= f.number_field :id_pais %>
  </div>
  <div class="field">
    <%= f.label :cp %><br>
    <%= f.text_field :cp %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :movil %><br>
    <%= f.text_field :movil %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
